.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* global style*/
.dark-2 {
    color: #474747;
}

.dark-01 {
    color: #181818;
}

.btn-primary {
    background-color: #FD6E0A;
    color: white;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

/* top header stule */
.top-header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav style */
nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

.nav-tittle {
    font-weight: 800;
    font-size: 45px;
}

.nav-tittle .logo {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* top section style */
.top-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 38px 0px 200px;

}

.top-section .sub-tittle {
    font-size: 45px;
    font-weight: 580;


}

.top-content {
    width: 600px;

}

.top-section .tittle {
    font-size: 85px;
    font-weight: 700;
}

.top-section .description {
    font-size: 18px;
    font-weight: 400;
}

.top-banner-img {
    width: 580px;
}